body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus {
  outline: none;
}

@font-face {
  font-family: 'Pixel';
  src: url(./font/Pixel-LCD-7.woff) format('woff');
}

